html{
    background-image: url(fotot/tesla.jpg);
    background-size: cover;
    color: white;
}

.logo-btn{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.logo-btn p{
    background: rgba(0, 0, 0, 0.336);
}
.logo-btn h1{
    background: rgba(0, 0, 0, 0.425);
}
.logo-btn button{
    width: 6cm;
    height: 40px;
    margin-left: 10px;
    border-radius: 30px;
    border:2px solid rgb(136, 8, 8);
    transition: 0.5s;
    background: transparent;
}
.logo-btn button:hover{
    background: rgb(172, 68, 8);
    transition: 0.5s;
}

footer button{
    width: 1.5cm;
    height: 1.5cm;
    border-radius: 50%;
    font-size: 20px;
    border: 1px solid red;
    background: transparent;
}

nav{
    display: inline-flex;
    background: black;
    width: 100%;
}
nav li {
    list-style: none;
   
}
nav a{
    position: relative;
    top: 1cm;
    color: white;
    text-decoration: none;
}
nav li a{
    margin-left: 40px;
    margin-top: 10cm;
    font-size: 25px;
}

nav img{width: 2cm;}


nav a:hover{
    color: rgb(172, 68, 8);
    border-bottom: 1px solid black;
    cursor: pointer;
}


.top-hover{
    width: 100%;
    height: 10px;
    background: black;
    position: absolute;
    left: 0px;
    top: -5px;
    box-shadow: 0 0 50px 10px black;
}


form{
    text-align: center;
    margin-top: 30px;
    float: right;
    margin-right: 100px;
    width: 7cm;
    height: 10cm;
    background: black;
}

form input{
    margin-top: 30px;
    height: 40px;
    width: 6cm;
    text-align: center;
    border: 1px solid white;
    background: transparent;
    color: white;
}

input:hover{
    border-color: violet;
}